h1{
    text-align: center;
    font-size: 5rem;
    color:blueviolet;
}

table{
    width:75%;
    margin: auto;
   
}

table,th,td,tr{
    border:2px solid black;
    text-align: center;
    padding:15px;
    font-size:2rem;
    border-collapse: collapse;
}

/* tr:hover{
    color:white;
    background-color: crimson;
    font-weight: bold;
} */