ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rebeccapurple;
    color:white;
    padding: 10px;
}

h1{
    text-align: center;
    color:deeppink;
    text-shadow: 2px 2px 3px  magenta ;
    font-size: 45px;
}

.child{
    width:250px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    padding: 20px;
}

img{
    width:100%;
    border-radius: 30px;
   
}

.parent{
    display: flex;
    justify-content: space-between;
    gap:10px;
}